<div class="tabs">
    <div class="sidebar">
       <!-- tabs buttons  -->
       <button class="tab-btn " data-for-tab="1"> <i class="far fa-user-circle"></i> Details</button>
       <button class="tab-btn" data-for-tab="2"><i class="fas fa-qrcode"></i> QR Code</button>
     </div>
       <!-- tabs content  -->
       <div class="content">
           <div class="tab-content tab-content-active" data-tab="1">
               <div id="top-down"></div>
               <div class="visa-card">
                <div class="section-1">
                    <div class="visa-number">
                        <p>Visa Number</p>
                        <h4>255159846</h4>
                    </div>
                    <div class="visa-status">
                        <p>Visa Status</p>
                        <button class="approve-btn"> Approved </button>
                    </div>
                </div>
                <div class="section-2">
                    <div>
                        <p><span class="title">Visa Type : </span> <span class="body">Private Sector Work Visa</span></p>
                    </div>
                    <div>
                        <p><span class="title">Visa Purpose : </span> <span class="body">Work</span></p>
                    </div>
                    <div>
                        <p><span class="title">Place of Issue : </span> <span class="body">Bangladesh</span></p>
                    </div>
                </div>
                <div class="section-3">
                    <div>
                        <p>Date of Issue</p>
                        <h2>2023-11-25</h2>
                    </div>
                    <div>
                        <p>Date of Expiry</p>
                        <h2>2024-02-25</h2>
                    </div>
                </div>
               </div>

               <div class="holder-details">
                <div class="header">
                    <p>Visa Holder Details</p>
                </div>
                <div class="details-felds">

                    <div>
                        <p>Full Name</p>
                        <p class="feld">Monira Mitu</p>
                    </div>
                    <hr>
                    <div>
                        <p>MOI Reference</p>
                        <p class="feld">34039098</p>
                    </div>
                    <hr>
                    <div>
                        <p>Occupation</p>
                        <p class="feld">Feelengs</p>
                    </div>
                    <hr>
                    <div class="toside">
                        <div>
                            <p>Nationality</p>
                            <p class="feld">Bangladeshi</p>
                        </div>
                        <div>
                            <p>Gender</p>
                            <p class="feld">Female</p>
                        </div>  
                    </div>
                    <hr>
                    <div class="toside">
                        <div>
                            <p>Passport No</p>
                            <p class="feld">A2024-2026</p>
                        </div>
                        <div>
                            <p>Passport Type</p>
                            <p class="feld">Normal</p>
                        </div>
                    </div>
                    <hr>
                    <div class="toside">
                        <div>
                            <p>Date Of Birth</p>
                            <p class="feld">1998-11-25</p>
                        </div>
                        <div>
                            <p>Place Of Issue</p>
                            <p class="feld">Bangladesh</p>
                        </div> 
                    </div>
                    <hr>
                    <div>
                        <p>Date of Expiry</p>
                        <p class="feld">2040</p>
                    </div>
                </div>
               </div>

               <div class="holder-details" id="holder-details">
                <div class="header">
                    <p>Employer / Family Breadwinner Detaills</p>
                </div>
                <div class="details-felds">

                    <div>
                        <p>Full Name</p>
                        <p class="feld">Riaj Uddin</p>
                    </div>
                    <hr>
                    <div class="toside">
                        <div>
                            <p>MOI Reference</p>
                            <p class="feld">3333257</p>
                        </div>
                        <div>
                            <p>Mobile Number</p>
                            <p class="feld">0</p>
                        </div> 
                    </div>
                </div>

            </div>
             <div class="tab-content" data-tab="2">
               <img src="assets/images/qr-code.png" alt="css logo">
             </div>
        </div>
  </div>